<h1>My Portfolio</h1>

<div class="search-area">
  <h3>Search Symbol</h3>
  <%= form_tag search_symbol_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%= text_field_tag :symbol, params[:symbol], placeholder: "Ticker symbol",
                           autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
  <%= render 'users/results' %>
</div>